<p id="notice"><%= notice %></p>

<p>
 
<p>
  <strong>Request:</strong>
  
  <%= @request.request %>
</p>


<button type="button" class="btn btn-outline-warning"><%= link_to 'Edit', edit_request_path(@request) %> </button>
<button type="button" class="btn btn-outline-secondary"><%= link_to 'Back', patients_path %></button>