<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
<div align="center">   
<h1 align="center">Welcome to SmartDoc !</h1>
<br>
<h3>This application allows you to manage daily appointments, patient information and allows you to manage and add records.</h3>

<p>Lorem ipsum dolor amet truffaut lo-fi master cleanse gastropub fam cornhole drinking vinegah gochujang listicle disrupt fixie. Master cleanse offal schlitz chillwave irony fashion axe flannel fixie. Single-origin coffee tilde bespoke cold-pressed direct trade art party meh green juice health goth vinyl microdosing bitters listicle mlkshk celiac. Vegan twee copper mug godar gastropub plaid succulents four dollar toast chillwave migas taxidermy church-key mumblecore selfies.</p>
<p>Lorem ipsum dolor amet truffaut lo-fi master cleanse gastropub fam cornhole drinking vinegar tilde ceanse offal schlitz chillwave irony fashion axe flannel fixie. Single-origin coffee tilde bespoke cold-pressed direct trade art party meh green juice health goth vinyl microdosing bitters listicle mlkshk celiac. Vegan twee copper mug godar plaid succulents four dollar toast chillwave migas taxidermy church-key mumblecore selfies.</p>
 <%= image_tag("hospital.jpg") %> 




</div>




</div>