<br>
<div class="container">
    
    <div class="card">
  <div class="card-body">
      
       

<h1>New Hospital</h1>

<div class="col-sm">
        <div class="card-header">
<%= render 'form', hospital: @hospital %>

</div></div></div></div></div>