
 <div class="container">
    <div class="card">
  <div class="card-body">
       <div class="col-sm">
        <div class="card-header">
<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment %>



</div></div></div></div></div>